.App {
  height: 200vh;
  color: whitesmoke;
  margin-top: 1rem;
}

#card {
  display: inline-block;
  color: black;
  text-align: center;
  width: 7rem;
}

#cardNum {
  font-size: 2.5rem;
}

body {
  background-image: linear-gradient(black, rgb(50, 50, 50));
}
